<section>
  <h1 class="text-center text-main my-4">Forget Password</h1>



@if(step==1){
  <form (ngSubmit)="emailSubmit()" [formGroup]="verifyEmail" class="bg-main-light rounded-4 p-3 shadow">
    <div>
      <label for="email">Email</label>
      <input formControlName="email" id="email" type="email" class="form-control">
      @if (verifyEmail.get("email")?.errors && (verifyEmail.get("email")?.touched ||verifyEmail.get("email")?.dirty))
      {
       <div class="alert alert-danger w-100">
         @if (verifyEmail.get("email")?.getError("required")) {
           <p class="m-0">Email is Required .</p>

         }
         @else if (verifyEmail.get("email")?.getError("email")) {
           <p class="m-0">Enter Valid Email .</p>

         }

       </div>
     }


    </div>
    <button [disabled]="verifyEmail.invalid" class="btn-main d-block ms-auto mt-3">Verify Email
      @if (isLoading) {
        <span><i class="fas fa-spin fa-spinner"></i></span>
      }
    </button>

    @if (msgError) {
      <p class="alert alert-danger my-3 ">{{msgError}}</p>

    }


    </form>
}@else if(step ==2){
  <form (ngSubmit)="codeSubmit()" [formGroup]="verifyCode" class="bg-main-light rounded-4 p-3 shadow">
    <div>
      <label for="resetCode">resetCode</label>
      <input formControlName="resetCode" id="resetCode" type="text" class="form-control">
      @if (verifyCode.get("resetCode")?.errors && (verifyCode.get("resetCode")?.touched ||verifyCode.get("resetCode")?.dirty))
      {
       <div class="alert alert-danger w-100">
         @if (verifyCode.get("resetCode")?.getError("required")) {
           <p class="m-0">resetCode is Required .</p>

         }
         @else if (verifyCode.get("resetCode")?.getError("pattern")) {
          <p class="m-0">Enter A Valid Code .</p>

        }

       </div>
     }
    </div>
    <button [disabled]="verifyCode.invalid" class="btn-main d-block ms-auto mt-3">Verify Code
      @if (isLoading) {
        <span><i class="fas fa-spin fa-spinner"></i></span>
      }
    </button>
    @if (msgError) {
      <p class="alert alert-danger my-3 ">{{msgError}}</p>

    }
    </form>

}@else if (step ==3) {
  <form (ngSubmit)="ResetPasswordSubmit()" [formGroup]="resetPassword" class="bg-main-light rounded-4 p-3 shadow">
    <div>
      <label for="email">Email</label>
      <input readonly formControlName="email" id="email" type="email" class="form-control">
      @if (resetPassword.get("email")?.errors && (resetPassword.get("email")?.touched ||resetPassword.get("email")?.dirty))
      {
       <div class="alert alert-danger w-100">
         @if (resetPassword.get("email")?.getError("required")) {
           <p class="m-0">Email is Required .</p>

         }
         @else if (resetPassword.get("email")?.getError("email")) {
           <p class="m-0">Enter Valid Email .</p>

         }

       </div>
     }
    </div>
    <div>
      <label for="newPassword">newPassword</label>
      <input formControlName="newPassword" id="newPassword" type="password" class="form-control">
      @if (resetPassword.get("newPassword")?.errors && (resetPassword.get("newPassword")?.touched || resetPassword.get("newPassword")?.dirty))
      {
       <div class="alert alert-danger w-100">
         @if (resetPassword.get("newPassword")?.getError("required")) {
           <p class="m-0">password is Required .</p>

         }
         @else if (resetPassword.get("newPassword")?.getError("pattern")) {
           <p class="m-0">password must start with upperCase then from 6 to more any chars .</p>

         }

       </div>
     }
    </div>
    <button [disabled]="resetPassword.invalid" class="btn-main d-block ms-auto mt-3">Reset Password
      @if (isLoading) {
        <span><i class="fas fa-spin fa-spinner"></i></span>
      }
    </button>
    @if (msgError) {
      <p class="alert alert-danger my-3 ">{{msgError}}</p>

    }
    </form>

}





</section>
