

<section class="my-4">

<div class="row g-0">
  <div class="col-md-9">
<div>

  <owl-carousel-o [options]="customOptionsMain">
    <ng-template carouselSlide>  <img src="./assets/images/slid1.avif" height="450px" class="w-100 " alt="slide-img"> </ng-template>
    <ng-template carouselSlide>  <img src="./assets/images/slid2.avif" height="450px" class="w-100 " alt="slide-img"> </ng-template>
    <ng-template carouselSlide>  <img src="./assets/images/slid3.avif" height="450px" class="w-100 " alt="slide-img"> </ng-template>
    <ng-template carouselSlide>  <img src="./assets/images/slid4.avif" height="450px" class="w-100 " alt="slide-img"> </ng-template>
    <ng-template carouselSlide>  <img src="./assets/images/slid5.avif" height="450px" class="w-100 " alt="slide-img"> </ng-template>
    <ng-template carouselSlide>  <img src="./assets/images/slid6.avif" height="450px" class="w-100 " alt="slide-img"> </ng-template>
    <ng-template carouselSlide>  <img src="./assets/images/slid7.avif" height="450px" class="w-100 " alt="slide-img"> </ng-template>
    <ng-template carouselSlide>  <img src="./assets/images/slid8.avif" height="450px" class="w-100 " alt="slide-img"> </ng-template>


  </owl-carousel-o>
</div>
  </div>
  <div class="col-md-3">
    <img src="./assets/images/grocery-banner.png" height="225px" class="w-100" alt="slide-img">
    <img src="./assets/images/grocery-banner-2.jpeg" height="225px" class="w-100" alt="slide-img">

  </div>
</div>

</section>





<section class="my-2">
  <h2 class="text-main my-3"> Shop Popular Categories :</h2>
  <owl-carousel-o [options]="customOptionsCat">

@for (cat of categoriesList; track cat._id) {
  <ng-template carouselSlide >
    <div>
      <img [src]="cat.image" class="w-100" height="250px" [alt]="cat.name">
      <h3 class="h6 text-main mt-2 text-center">{{cat.name}}</h3>
    </div>

  </ng-template>
}

  </owl-carousel-o>
</section>




<section class="my-5">
  <h2 class="text-main my-3">Popular Products :</h2>
  <input [(ngModel)]="textSearch" type="search" placeholder="search by name" class="form-control input  mx-auto my-4 ">
<div class="row g-3">

  @for (product of productList.slice(0,12) |search:textSearch  ; track product.id) {

    <div class="col-md-4 col-lg-2">
  <div class="card product  p-2">

    <span class=" mb-3" >
@if (idArrarys.includes(product.id)) {
  <i class="fa-solid fa-heart text-danger fa-xl my-3 " (click)="removeFromWishList(product.id)"></i>
}@else {
  <i   class="fa-regular fa-heart fa-xl text-main my-3  " (click)="wishAdd(product.id)"></i>

}

    </span>


  <div [routerLink]="['/details' , product.id]">

    <img [src]="product.imageCover" class="w-100" [alt]="product.title">
    <h3 class="small text-main mt-1">{{product.category.name}}</h3>
    <h4 class="h6">{{product.title.split(" ",2).join(" ")}}</h4>
    <div class="d-flex justify-content-between align-items-center">
      <span> {{product.price}} EGP</span>
      <div>
      @for (item of [0,1,2,3,4,5].slice(0,product.ratingsAverage); track $index) {
        <i class="fas fa-star rating-color"></i>
      }
      @if (product.ratingsAverage%1 !== 0 ) {
        <i class="fa-regular fa-star-half-stroke rating-color"></i>
      }
        <span class="text-muted">{{product.ratingsAverage}}</span>
      </div>

    </div>
  </div>

<button class="btn-main w-100 mt-2" (click)="addToCart(product.id)" >Add to Cart</button>

  </div>
        </div>


  }
 </div>
</section>
