<section class="bg-main-light shadow p-4 my-2 rounded-4">
  <h1 class="h2 text-main">login Now :</h1>

  <form [formGroup]="loginForm"   (ngSubmit)="loginSubmit()">



  <div class="my-2">
    <label for="email">Email :</label>
    <input [ngClass]="{
      'is-valid': !loginForm.get('email')?.errors && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty),
      'is-invalid':  loginForm.get('email')?.errors && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)

        }"  id="email" type="email" class="form-control" formControlName="email">
    @if (loginForm.get("email")?.errors && (loginForm.get("email")?.touched ||loginForm.get("email")?.dirty))
   {
    <div class="alert alert-danger w-100">
      @if (loginForm.get("email")?.getError("required")) {
        <p class="m-0">Email is Required .</p>

      }
      @else if (loginForm.get("email")?.getError("email")) {
        <p class="m-0">Enter Valid Email .</p>

      }

    </div>
  }
  </div>

  <div class="my-2">
    <label for="password">Password :</label>
    <input [ngClass]="{
      'is-valid': !loginForm.get('password')?.errors && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty),
      'is-invalid':  loginForm.get('password')?.errors && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)

        }"  id="password" type="password" class="form-control" formControlName="password">
    @if (loginForm.get("password")?.errors && (loginForm.get("password")?.touched || loginForm.get("password")?.dirty))
    {
     <div class="alert alert-danger w-100">
       @if (loginForm.get("password")?.getError("required")) {
         <p class="m-0">password is Required .</p>

       }
       @else if (loginForm.get("password")?.getError("pattern")) {
         <p class="m-0">password must start with upperCase then from 6 to more any chars .</p>

       }

     </div>
   }

  </div>

<div class="d-flex align-items-center justify-content-end gap-4">

<a routerLink="/forget" class="link-primary"> Forget Password</a>
<button  type="submit"  class="btn-main  mt-2">
  login
@if (isLoading) {
  <span><i class="fas fa-spin fa-spinner"></i></span>
}
</button>

@if (msgError) {
  <p class="alert alert-danger my-3 ">{{msgError}}</p>

}
</div>
  </form>
  </section>
